<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=heade, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <!-- Logo -->
      <img src="" alt="" />
      <!-- Barra de busqueda -->
      <div>
        <span></span>
        <input type="search" name="search" id="search" />
      </div>
      <!-- PROMOCION -->
      <h2>Compra en tas y sin tarjeta de credito</h2>

      <nav>
        <div>
          <button>Ofertas</button>
          <button>Tiendas Oficiales</button>
          <button>Vender</button>
          <button>Ayuda</button>
        </div>

        <div>
          <button>Ayuda</button>
          <button>Ingresar</button>
          <button>Mis Compras</button>
        </div>
      </nav>
    </header>
    <main></main>
    <footer></footer>
  </body>
</html>
