<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer>
        <div><span><strong>Pagá con tarjeta o en efectivo</strong></span><br>
            <p>Con nuestra tienda, tienes cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>


        </div>
        <div><span><strong>Envío gratis desde 2.500 puntos</strong></span><br>
            <p>Solo por estar registrad@ en nuestra tienda tienes envíos gratis en miles de productos.            </p>

        </div>
        <div><span><strong>Seguridad, de principio a fin</strong></span><br>
            <p>¿No te gusta? ¡Devuélvelo! En nuestra tienda no hay nada que no puedas hacer, porque estás siempre protegid@.</p>

        </div>
    </footer>
</body>
</html>