<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

  <body>
    <header>
      <!-- Logo -->
      <img src="" alt="" />
      <!-- Barra de busqueda -->
      <div>
        <span></span>
        <input type="search" name="search" id="search" />
      </div>
      <!-- PROMOCION -->
      <h2>Compra en tas y sin tarjeta de credito</h2>
      <nav>
        <div>
          <button>Ofertas</button>
          <button>Tiendas Oficiales</button>
          <button>Vender</button>
          <button>Ayuda</button>
        </div>

        <div>
          <button>Ayuda</button>
          <button>Ingresar</button>
          <button>Mis Compras</button>
        </div>
      </nav>
    </header>
    <main>
        <section id="ultimaVisita"> 
            <h1>Basado en tu última visita</h1>
            <article>
                <img src="../public/img/img-cafetera-moulinex.jpg" alt="Imagen de cafetera"> 
                <ul>
                    <li>6.770 puntos</li>
                    <li>40% OFF</li>
                    <li>Cafetera Moulinex</li>
                </ul>          
            </article>
            <article>
                <img src="../public/img/img-macbook-pro-2019.jpg" alt="Imagen Macbook pro 2019"> 
                <ul>
                    <li>230.000 puntos</li>
                    <li>20% OFF</li>
                    <li>MacBook Pro 2019</li>
                </ul>          
            </article>
            <article>
                <img src="../public/img/img-samsung-galaxy-s10.jpg" alt="Imagen Samsung galaxy s10"> 
                <ul>
                    <li>70.500 puntos</li>
                    <li>10% OFF</li>
                    <li>Samsung Galaxy S10</li>
                </ul>          
            </article>
            <article>
                <img src="../public/img/img-tv-samsung-smart.jpg" alt="Imagen Samgsung smart TV 43"> 
                <ul>
                    <li>23.200 puntos</li>
                    <li>5% OFF</li>
                    <li>SmartTv Samsung 43</li>
                </ul>          
            </article>
        </section>

        <section id="ofertas"> 
            <h1>Ofertas</h1>
            <article>
                <img src="../public/img/img-cafetera-moulinex.jpg" alt="Imagen de cafetera"> 
                <ul>
                    <li>6.770 puntos</li>
                    <li>40% OFF</li>
                    <li>Cafetera Moulinex</li>
                </ul>          
            </article>
            <article>
                <img src="../public/img/img-macbook-pro-2019.jpg" alt="Imagen Macbook pro 2019"> 
                <ul>
                    <li>230.000 puntos</li>
                    <li>20% OFF</li>
                    <li>MacBook Pro 2019</li>
                </ul>          
            </article>
            <article>
                <img src="../public/img/img-samsung-galaxy-s10.jpg" alt="Imagen Samsung galaxy s10"> 
                <ul>
                    <li>70.500 puntos</li>
                    <li>10% OFF</li>
                    <li>Samsung Galaxy S10</li>
                </ul>          
            </article>
            <article>
                <img src="../public/img/img-tv-samsung-smart.jpg" alt="Imagen Samgsung smart TV 43"> 
                <ul>
                    <li>23.200 puntos</li>
                    <li>5% OFF</li>
                    <li>SmartTv Samsung 43</li>
                </ul>          
            </article>
        </section>                
    </main>
        <footer>
        <div><span><strong>Pagá con tarjeta o en efectivo</strong></span><br>
            <p>Con nuestra tienda, tienes cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>


        </div>
        <div><span><strong>Envío gratis desde 2.500 puntos</strong></span><br>
            <p>Solo por estar registrad@ en nuestra tienda tienes envíos gratis en miles de productos.            </p>

        </div>
        <div><span><strong>Seguridad, de principio a fin</strong></span><br>
            <p>¿No te gusta? ¡Devuélvelo! En nuestra tienda no hay nada que no puedas hacer, porque estás siempre protegid@.</p>

        </div>

    </footer>
</body>
</html>



