<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css" />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.15.3/css/all.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <header class="header">
      <h1>Compra en cuotas y sin tarjeta de credito</h1>
      <div>
        <span> 
          <img src="https://lh5.googleusercontent.com/p/AF1QipMHhtyIepFPmrqGWpzWqSeG5prxjHGl96jjuHE" alt=""/>
        </span>  
        <input type="search" name="search" id="search" /> 

 
    </div>
      <nav>
        <div>
          <a class="header-button">Ofertas</a>
          <a class="header-button">Tiendas Oficia</a>
          <a class="header-button">Vender</a>
          <a class="header-button">Ayuda</a>
        </div>
  
        <div>
          <a class="header-button">Ayuda</a>
          <a class="header-button">Ingresar</a>
          <a class="header-button">Mis Compras</a>
        </div>
      </nav>
    </header>
    <main class="main">
      <section id="ultimaVisita">
        <h1 class="title">Basado en tu última visita</h1>
    <div class="setMainPlace">
      <article>
        <img
          src="/img/img-cafetera-moulinex.jpg"
          alt="Imagen de cafetera"
        />
        <div>
        <ul>
          <li>6.770 puntos</li>
          <li>40% OFF</li>
          <li>Cafetera Moulinex</li>
        </ul>
        </div>
      </article>
      <article>
        <img
          src="/img/img-macbook-pro-2019.jpg"
          alt="Imagen Macbook pro 2019"
        />
        <div>
          <ul>
            <li>230.000 puntos</li>
            <li>20% OFF</li>
            <li>MacBook Pro 2019</li>
          </ul>
        </div>
        </article>
      <article>
        <img
          src="/img/img-samsung-galaxy-s10.jpg"
          alt="Imagen Samsung galaxy s10"
        />
        <div>
          <ul>
            <li>70.500 puntos</li>
            <li>10% OFF</li>
            <li>Samsung Galaxy S10</li>
          </ul>
        </div>
      </article>
      <article>
        <img
          src="/img/img-tv-samsung-smart.jpg"
          alt="Imagen Samgsung smart TV 43"
        />
        <div>
          <ul>
            <li>23.200 puntos</li>
            <li>5% OFF</li>
            <li>SmartTv Samsung 43</li>
          </ul>
        </div>
      </article>
    </div>

      </section>

      <section id="ofertas">
        <h1>Ofertas</h1>
<div class="setMainPlace">
  <article>
    <img
      src="/img/img-cafetera-moulinex.jpg"
      alt="Imagen de cafetera"
    />
    <div>
      <ul>
        <li>6.770 puntos</li>
        <li>40% OFF</li>
        <li>Cafetera Moulinex</li>
      </ul>
    </div>
  </article>
  <article>
    <img
      src="/img/img-macbook-pro-2019.jpg"
      alt="Imagen Macbook pro 2019"
    />
    <div>
      <ul>
        <li>230.000 puntos</li>
        <li>20% OFF</li>
        <li>MacBook Pro 2019</li>
      </ul>
    </div>
  </article>
  <article>
    <img
      src="/img/img-samsung-galaxy-s10.jpg"
      alt="Imagen Samsung galaxy s10"
    />
    <div>
    <ul>
      <li>70.500 puntos</li>
      <li>10% OFF</li>
      <li>Samsung Galaxy S10</li>
    </ul>
    </div>
  </article>
  <article>
    <img
      src="/img/img-tv-samsung-smart.jpg"
      alt="Imagen Samgsung smart TV 43"
    />
    <div>
      <ul>
        <li>23.200 puntos</li>
        <li>5% OFF</li>
        <li>SmartTv Samsung 43</li>
      </ul>
    </div>
  </article>
</div>
      </section>
    </main>
    <footer>
      <div>
        <h5><strong>Pagá con tarjeta o en efectivo</strong></h5>
        <p>
          Con nuestra tienda, tienes cuotas sin interés con tarjeta o efectivo
          en puntos de pago. ¡Y siempre es seguro!
        </p>
      </div>
      <div>
        <h5><strong>Envío gratis desde 2.500 puntos</strong></h5>
        <p>
          Solo por estar registrad@ en nuestra tienda tienes envíos gratis en
          miles de productos.
        </p>
      </div>
    <div>
    <h5><strong>Seguridad, de principio a fin</strong></h5>
      <p>
        ¿No te gusta? ¡Devuélvelo! En nuestra tienda no hay nada que no puedas
        hacer, porque estás siempre protegid@.
      </p>
        </div>
    </div>
    </footer>
  </body>
  <!-- <script
    src="https://kit.fontawesome.com/b8fb122eed.js"
    crossorigin="anonymous"
  ></script> -->
</html>
