header {
  min-width: 361px;

}

nav {
  display: flex;
  justify-content: space-between;
}
nav div {
  display: flex;
  /*align-items: center;*/
  justify-content: center;
  gap: 18px;
}
span img {
  border-radius: 40px;
}
h1 {
  text-align: center;
  padding: 0px;
  margin: 0px;
}
input{
  border-radius: 10px;
}
/* Celulares */
@media (max-width: 767px) {

  .logosearch{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
  }

  #search{
    width: 80vw;
    max-width: 300px;
    text-align: center;
  }

  nav {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    border-radius: 2px blue solid;
  }
  /* nav div {
    display: flex;
    align-items: center;
  } */

  .header nav {
    display: block;
  }
  .header input {
    display: block;
  }
  header span {
    display: none;
  }
}

/* Tablas */
@media (min-width: 768px) and (max-width: 1024px) {
  
  #search{
    height: 30px;
    width: 25%;
    text-align: center  ; 
    border: 0.5px solid gray;
    
  }

  .logosearch{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    align-items: center;
  }
}

/* Desktop */
@media (min-width: 1025px) {
  .logosearch{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    align-items: center;

  }

  #search{
    height: 30px;
    width: 25%;
    text-align: center  ; 
    border: 0.5px solid gray;
    
  }
}
