.main {
width: 90%;
text-align: center;
}

li{list-style: none;}

article{
    margin-top: 10px
}


div li{
    border-top: 1px solid #ebebeb;
    padding: 0px 15px ;
}


article div {
    display: none;
}


@media only screen and (min-width:361px) {

    article div {
        display: block;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}

@media only screen and (min-width:769px) {
}